.footer {
  flex-basis: 100%;
  margin: 57px 20px 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid rgba(158, 158, 158, 0.21);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  display: flex;

  &__support {
    margin-left: auto;
    &:hover {
      color: blue;
    }
  }

  &__studying {
    margin-left: 10px;
    &:hover {
      color: blue;
    }
  }
}
