@import "reset";
@import 'fonts/fonts';

* {
  box-sizing: border-box;
}

.app {
  transition: all 0.4s ease-in-out;
  background-color: #f3f3f3;
  display: flex;
  width: 100%;

  &__heading {
    color: #20387d;
    font-family: "Nunito";
    font-size: 24px;
    font-weight: 600;
  }

  &__container-item-and-notifications {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 33px 20px 0;
  }

  &__content-container {
    width: 100%;
    overflow: hidden;
  }
}

.white-theme {
  background-color: white;
}

.button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}
